$white-smoke-bg: #35445E;
$white-bg: #475670;
$text-black: #E7E7E7;
$white-smoke-2: #35445E;
$text-grey: #E0E0E0;
$earthborn-bugle: #f7f7f7;
$Gray75: #bfbfbf;
$greyTwenty: #333333;

//////////////////////////////////////////
// font colors
$text-light-grey: #B7B7B7;
$text-red: #D0021B;
$text-white: #ffffff;
$text-green: #14CD9A;

$text-step-color: #d3d3d3;

$relied-border: #88E3CB;
$added-note-border: #EDD58E;
$forwarded-border: #88CEE3;

$undo-message-bg: #F3FDFA;

//colors
$black: #1D1D1D;
$viridian-green: #E0E0E0;
$green: #14CD9A;
$yellow: #EDB40C;
$blue: #09B0E2;
$manatee: #E7E7E7;
$mint-cream: #F4FDFA;
$corn-silk: #FFF7E0;
$azure: #F2FCFF;
$whisper: #E7E7E7;
$white-smoke: #F0F0F0;
$white-smoke2: #F2F2F2;
$grey: #7D7D7D;
$gainsboro: #d9d9d9;
$ivory: #F7F7F2;
$storm-dust: #666663;
$mountain-meadow: #0FB783;
$gray84: #D6D6D6;
$shuttle-grey: #5F6061;

// BG
$snow-bg: #FAFAFA;
$mint-cream-bg:#F4FDFA;
$gulf-blue-bg: #35445E;
$popup-bg: #AEAEAE;
$solitude-bg: #E7E8EB;
$item-forward: #F2FCFF;
$added-note-bg: #FFF7E0;
$jumbo: #8C8C88;
$storm-dust: #666663;

$individual-ticket-panel-btn: #9B9B9B;

$row-border: #EFEFEF;
$cobalt: #054f99;

$not-open-tickets: #F0FCFE;

// HOVER
$green-hover: #88E3CB;
$red-hover: #f0909b;

//LABELS

$burnt-sienna: #F26C4F;
$rajah: #FBAF5D;
$laser-lemon: #FFF568;
$caper: #ACD373;
$medium-sea-green: #3CB878;
$light-sea-green: #1CBBB4;
$deep-sky-blue: #02BFF3;
$curious-blue: #448CCB;
$ce-soir: #8561A8;
$hot-pink: #F06EAA;
