<div class="accordion__content open">
    <form id="resetPassword">
        <div class="flex flex-wrap justify-between change-pass-form">

            <div class="user-settings__col-wrapper">
                <div class="ui-input">
                    <label class="ui-input__label" for="old-pass">
                        <span class="bold">Old password</span>
                        <br>
                        <span class="normal">Enter your old password</span>
                    </label>
                    <input
                            class="ui-input__input ui-input__input--pass input"
                            id="old-pass"
                            type={{typeOld}}
                            name=" "
                            [class.create-ticket-error]="resetFormValidation.old_password"
                            [(ngModel)]="resetData.old_password"
                            (blur)="valueIsPassword('old_password')"
                            (focus)="valueIsntPassword('old_password')"
                    >

                    <button class="btn eye-btn" (click) = "visibilityOldPassword()"><img src="{{showImgOld}}" alt="">
                    </button>
                </div>
                <span *ngIf="resetFormValidation.old_password" class="box-error">
                                        {{resetFormValidation.old_password}}
                                    </span>
            </div>

            <div class="user-settings__col-wrapper">
                <div class="ui-input">
                    <label class="ui-input__label" for="new-pass">
                        <span class="bold">New password</span>
                        <br>
                        <span class="normal">Create new password</span>
                    </label>
                    <input class="ui-input__input ui-input__input--pass input"
                           id="new-pass"
                           type={{typeNew}}
                           name=" "
                           [class.create-ticket-error]="resetFormValidation.password"
                           [(ngModel)]="resetData.password"
                           (blur)="valueIsPassword('password')"
                           (focus)="valueIsntPassword('password')"
                    >
                    <button class="btn eye-btn" (click) = "visibilityNewPassword()"><img src="{{showImgNew}}" alt="">
                    </button>
                </div>
                <span *ngIf="resetFormValidation.password" class="box-error">
            {{resetFormValidation.password}}
            </span>
            </div>
            <!--        <input-->
            <!--                class="ui-input__input ui-input__input&#45;&#45;pass input"-->
            <!--                type="hidden"-->
            <!--                name=" "-->
            <!--                [ngModel]="resetData.password"-->
            <!--        >-->
            <!--        -->
            <div class="w-100 save-pass">
                <div class="grad-btn pull-right">
                    <button class="grad-btn__btn" type="submit" (click)="passwordReset()">Save Password</button>
                    <span class="grad-btn__bg"></span>
                </div>
            </div>

        </div>
    </form>
</div>

<!--<span *ngIf="resetFormValidation.old_password" class="box-error">-->
<!--                                        {{resetFormValidation.old_password}}-->
<!--                                    </span>-->
<!--</div>-->
<!--<div class="full-width-left">-->
<!--    <label for="password">New password</label>-->
<!--    <input-->
<!--            type="password"-->
<!--            class="form-control"-->
<!--            id="password"-->
<!--            name=" "-->
<!--            [class.create-ticket-error]="resetFormValidation.password"-->
<!--            [(ngModel)]="resetData.password"-->
<!--            (blur)="valueIsPassword('password')"-->
<!--            (focus)="valueIsntPassword('password')"-->
<!--    >-->
<!--    <span *ngIf="resetFormValidation.password" class="box-error">-->
<!--                                        {{resetFormValidation.password}}-->
<!--                                    </span>-->
