<div class="tickets-row"  *ngIf="ticketService.tickets.length">
    <ng-container *ngFor="let ticket of ticketService.tickets; let idx = index">

        <div  (click)="redirectTicketIndividual.emit([$event, ticket.id, ticket])"  [ngClass]="{'tickets-row__item ticket ': true, 'new': !ticket.opened, 'checked': !selectedTickets.main.length === ticketService.tickets.length || ticket.checked}" >
            <input
                    hidden
                    type="checkbox"
                    id="{{idx}}"
                    name="check"
                    [checked]="selectedTickets.main.length === ticketService.tickets.length || ticket.checked"
            />
            <span class="tickets-row__item-checkbox" (click)="selectTickets.emit([!ticket.checked, ticket , idx])"></span>
            <div class="resent-activites-bar__user-avatar empty bold"
                 *ngIf="ticket.customer_name"
                 [ngStyle]="{'background-color': ticket.color ,'color': '#e8e6e6'}"
            >
                {{ticket.customer_name | circleLetters}}
            </div>
            <div class="tickets-row__item-info" >
                <span class="tickets-row__item-message-author bold">{{ticket.customer_name}}</span>
                <ng-container *ngIf="ticket.labels">
                    <span
                            *ngFor="let currentlabels of ticket.labels;"
                            [ngStyle]="{'border-color': currentlabels.color,'color': currentlabels.color}"
                            class="tickets-row__item-assign-on">            {{currentlabels.body}}
                    </span>
                </ng-container>
                <div class="tickets-row__item-content">
                    <h3 class="tickets-row__item-title bold"  *ngIf="ticket.subject ">{{ticket.subject}}</h3>
                    <h3 class="tickets-row__item-title bold"  *ngIf="!ticket.subject && !ticket.customer_name">
                        <b>
                            (no subject)
                        </b>
                    </h3>
                    <span *ngIf="ticket.last_action  && ticket.last_action.files &&  ticket.last_action.files.length" class="file-icon-content">
                        <i class="la la-paperclip fileContent"></i>
                    </span>
                    <!--<p class="tickets-row__item-text">Ah, the technical interview. Nothing like it. Not only does it-->
                    <!--cause anxiety, but it causes anxiety for several different reason. Ah, the technical interview.-->
                    <!--Nothing like it. Not only does it cause anxiety, but it causes anxiety for several different-->
                    <!--reasons…</p>-->
                    <p
                            *ngIf="ticket.last_action && ticket.last_action.body && activeTickets !== 'draft'"
                            class="tickets-row__item-text"
                    >
                        {{ticket.last_action.body | splitTags}}
                    </p>
                    <p
                            *ngIf="activeTickets === 'draft' && ticket.ticketDraft.reply"
                            class="tickets-row__item-text"
                    >
                        {{ticket.ticketDraft.reply | splitTags}}

                    </p>

                    <p
                            *ngIf="activeTickets === 'draft' && !ticket.ticketDraft.reply && ticket.ticketDraft.note"
                            class="tickets-row__item-text"
                    >
                        {{ticket.ticketDraft.note | splitTags}}
                    </p>

                    <p
                            *ngIf="activeTickets === 'draft' && !ticket.ticketDraft.reply && !ticket.ticketDraft.note && ticket.ticketDraft.forward"
                            class="tickets-row__item-text"
                    >
                        {{ticket.ticketDraft.forward | splitTags}}

                    </p>
                    <p
                            *ngIf="!ticket.last_action  && activeTickets !== 'draft' && activeTickets !== 'attention' && ( !ticket.comments || !ticket.comments.length)"
                            class="tickets-row__item-text"
                    >
                        {{ticket.body | splitTags }}

                    </p>
<!--                    <br>-->
<!--                    <ul-->
<!--                            *ngIf="ticket.last_action  && ticket.last_action.files"-->
<!--                            class="attachments-list  ticket-list-attachments"-->
<!--                    >-->
<!--                        <li *ngFor="let file of ticket.last_action.files">-->
<!--                            <ng-container *ngIf="file.main_type !== 'images'">-->
<!--                                <a href="{{file.file_full_path}}" download="true">-->
<!--                                    <i class="la la-paperclip fileContent">-->
<!--                                        {{file.file_name}}-->
<!--                                    </i>-->
<!--                                </a>-->
<!--                            </ng-container>-->

<!--                            <ng-container *ngIf="file.main_type === 'images' ">-->
<!--                                <a (click)="cloud.effect = 'imgPopup';ticketService.selectedImagen = file.file_full_path;">-->
<!--                                    <i class="la la-paperclip fileContent">-->
<!--                                        {{file.file_name}}-->
<!--                                    </i>-->
<!--                                </a>-->
<!--                            </ng-container>-->
<!--                        </li>-->
<!--                    </ul>-->
                    <span class="text_fadeout_effect"></span>


                </div>
            </div>
            <div class="tickets-row__item-date">{{ticket.created_at | timePipe}}</div>
            <div class="tickets-row__item-id">#{{ticket.id}}</div>
        </div>
    </ng-container>
    <!--<div class="tickets-row__item ticket new" >-->
    <!--<span class="tickets-row__item-checkbox"></span>-->
    <!--<div class="resent-activites-bar__user-avatar empty bold">AT</div>-->
    <!--<div class="tickets-row__item-info">-->
    <!--<span class="tickets-row__item-message-author bold">Alex Turnbull (2)</span>-->
    <!--<span class="tickets-row__item-assign-on">Barry B.</span>-->
    <!--<div class="tickets-row__item-content">-->
    <!--<h3 class="tickets-row__item-title bold">What Is Hdmi</h3>-->
    <!--<p class="tickets-row__item-text">Ah, the technical interview. Nothing like it. Not only does it-->
    <!--cause anxiety, but it causes anxiety for several different reason. Ah, the technical interview.-->
    <!--Nothing like it. Not only does it cause anxiety, but it causes anxiety for several different-->
    <!--reasons…</p>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="tickets-row__item-date">12:34</div>-->
    <!--<div class="tickets-row__item-id">#23</div>-->
    <!--</div>-->

</div>
