<div class="sign-wrapper align-center" *ngIf="!successEmail">
    <div class="birddesk-logo" [routerLink]="['/login']">
        <img src="../../../../../public/images/logo/logo.svg" alt="Logo">
        <a [routerLink]="['/login']">BirdDesk</a>
    </div>

    <button class="back-reg-btn"  [routerLink]="['/login']">
        <div class="individual-ticket-panel__btn back">
            <svg height="16" width="8" xmlns="http://www.w3.org/2000/svg">
                <path d="M7.845 15.836a.594.594 0 0 0 0-.8L1.262 8.009 7.845.965a.594.594 0 0 0 0-.8.505.505 0 0 0-.747 0L.155 7.595a.597.597 0 0 0 0 .8l6.943 7.428a.495.495 0 0 0 .747.013z" fill="currentColor" fill-rule="nonzero">
                </path>
            </svg>
        <span>Back</span>
        </div>
    </button>
    <section class="reset-pass">
        <form [formGroup]="emailForm">
            <h2 class="get-started__haeder text-center bold">
                Reset your password
            </h2>
            <p class="mb24">
                To reset your password, please enter the e-mail address you use to sign in to Birddesk
            </p>
            <div class="multistep-form__login-input"
                 [class.multistep-form-input-wrapper--passed]="classSuccess('email') === true && !emailFormErrors.email.verify"
            >
            <input
                   class="multistep-form__input input w-100"
                   placeholder="E-mail"
                   [class.input-error-style]="classError('email') || emailFormErrors.email.verify"
                   [class.input-success-style]="classSuccess('email') && !emailFormErrors.email.verify"
                   autocomplete="off"
                   name="email"
                   type="email"
                   value=""
                   data-rules="required|email"
                   formControlName="email"
            >
            </div>
            <span id="mail-error" class="error-span help-block error backend-error input-group-error">
                <form-errors
                        [control]="emailForm.controls.email"
                        [formSubmit]="emailForm.submitted"
                        [controlName]="'email'"
                ></form-errors>
                <span *ngIf="emailFormErrors.email.verify">
                    {{emailFormErrors.email.text}}
                </span>
            </span>
            <div class="text-center">
                <div class="grad-btn grad-btn--fill">
                    <button class="grad-btn__btn" type="submit" (click)="sendLink()">Send reset link</button>
                    <span class="grad-btn__bg"></span>
                </div>
            </div>
        </form>
    </section>
</div>


<!--<div class="sign-wrapper align-center" *ngIf="successEmail">
    <div class="birddesk-logo">
        <img src="../../../../../public/images/logo/logo.svg" alt="Logo">
        <a [routerLink]="['/login']">BirdDesk</a>
    </div>


    <section class="reset-pass">
        <form>
            <h2 class="get-started__haeder text-center bold">
                Reset email sent!
            </h2>
            <p class="mb24">
                Please check your
                <a class="link link__green" [routerLink]="['/login']">{{emailInputValue.email}}</a>
                inbox for instructions on how to reset your password.
                <a class="link link__green" (click)="sendLink(!!1)">Resend!</a>
            </p>
        </form>
    </section>
</div>-->





<div class="sign-wrapper" *ngIf="successEmail">
    <div class="birddesk-logo">
        <img src="../../../../../public/images/logo/logo.svg" alt="Logo">
        <a [routerLink]="['/login']">BirdDesk</a>
    </div>

    <button class="back-reg-btn" (click) = "successEmail = !!0;">
        <div class="individual-ticket-panel__btn back">
            <svg width="8" height="16" xmlns="http://www.w3.org/2000/svg">
                <path d="M7.845 15.836a.594.594 0 0 0 0-.8L1.262 8.009 7.845.965a.594.594 0 0 0 0-.8.505.505 0 0 0-.747 0L.155 7.595a.597.597 0 0 0 0 .8l6.943 7.428a.495.495 0 0 0 .747.013z" fill="currentColor" fill-rule="nonzero"></path></svg>
            <span>Back</span>
        </div>
    </button>

    <section class="email-confirm">
        <div class="email-confirm__img">
            <img src="../../../../../public/images/sign-up/check-email.svg" alt="Email confirm">
        </div>
        <h2 class="email-confirm__header bold">Check your email</h2>
        <p class="email-confirm__text">We've emailed a special link to <a class="bold" href="mailto:{{emailInputValue.email}}">{{emailInputValue.email}}</a>. Click the link to confirm your address and get started.</p>
        <p class="email-confirm__text">Wrong email? Please <a (click) = "successEmail = !!0;" class="link">re-enter your address.</a></p>
    </section>
</div>
