<!--
<section id="freesignup" class="freesignup-section">
    <div class="box-container container-signin clearfix">
        <div class="signIn-main-content clearfix">
            <div class="heading-text-part ">
                <div class="login-logo-container">
                    <img src="../../../../../public/images/logo2.png" alt="Bird Desk">
                    <h1 class="birddesk">BirdDesk</h1>
                    <h2><b>Password reset</b></h2>
                    <p class="align-center">Enter the new password for your BirdDesk account</p>
                    <div class="col-md-12">
                        <div class="input-field-login padding-bot">
                            <form
                                    [formGroup]="resetPasswordForm"
                                    class="block-form-registration"
                            >
                                <div class="box-input-body input-signin-group">
                                    <div class="input-group">
                                        <p class="style-fix">New password</p>
                                        <input
                                                [class.input-error-style]="classError('password') || resetPasswordFormErrors.password.verify"
                                                [class.input-success-style]="classSuccess('password') && !resetPasswordFormErrors.password.verify"
                                                type="password"
                                                class="form-control"
                                                value=""
                                                formControlName="password"
                                        >
                                        <span class="error-span help-block error backend-error input-group-error">
                                            <form-errors
                                                    [control]="resetPasswordForm.controls.password"
                                                    [controlName]="'password'"
                                            ></form-errors>
                                            <span *ngIf="resetPasswordFormErrors.password.verify">
                                                {{resetPasswordFormErrors.password.text}}
                                            </span>
                                        </span>
                                    </div>
                                </div>
                                <div class="box-input-body input-signin-group">
                                    <div class="input-group">
                                        <p class="style-fix">Confirm new password</p>
                                        <input
                                                [class.input-error-style]="classError('password_confirmation') || resetPasswordFormErrors.password_confirmation.verify"
                                                [class.input-success-style]="classSuccess('password_confirmation') && !resetPasswordFormErrors.password_confirmation.verify"
                                                type="password"
                                                class="form-control"
                                                value=""
                                                formControlName="password_confirmation"
                                        >
                                        <span class="error-span help-block error backend-error input-group-error">
                                            <form-errors
                                                    [control]="resetPasswordForm.controls.password_confirmation"
                                                    [controlName]="'password_confirmation'"
                                            ></form-errors>
                                            <span *ngIf="resetPasswordFormErrors.password_confirmation.verify">
                                                {{resetPasswordFormErrors.password_confirmation.text}}
                                            </span>
                                            <span class="passwordsErrorText-box"
                                                  *ngIf="classError('password_confirmation')">
                                                {{passwordsErrorText}}
                                            </span>
                                        </span>
                                    </div>
                                </div>
                                <div class="input-group">
                                    <button type="submit" class="submit-button" style="margin-bottom: 0"
                                            (click)="changePassword()">
                                        Change password
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>-->
<body>
<div class="sign-wrapper align-center">
    <div class="birddesk-logo">
        <img src="../../../../../public/images/logo/logo.svg" alt="Logo">
        <a  [routerLink]="['/login']">BirdDesk</a>
    </div>


    <section class="reset-pass">
        <form
                [formGroup]="resetPasswordForm"
        >
            <h2 class="get-started__haeder text-center bold">
                Password reset
            </h2>
            <p class="mb24">
                Enter the new password for your Birddesk account
            </p>
            <div class="multistep-form__login-input"
                 [class.multistep-form-input-wrapper--passed]="classSuccess('password') === true"
            >
                <input
                       class="multistep-form__input input w-100 mb16"
                       placeholder="New password"
                       [class.input-error-style]="classError('password') || resetPasswordFormErrors.password.verify"
                       [class.input-success-style]="classSuccess('password') && !resetPasswordFormErrors.password.verify"
                       type="password"
                       value=""
                       formControlName="password"
                >
            </div>
            <span class="error-span help-block error backend-error input-group-error">
                <form-errors
                        [control]="resetPasswordForm.controls.password"
                        [controlName]="'password'"
                ></form-errors>
                <span *ngIf="resetPasswordFormErrors.password.verify">
                    {{resetPasswordFormErrors.password.text}}
                </span>
            </span>
            <div class="multistep-form__login-input"
                 [class.multistep-form-input-wrapper--passed]="classSuccess('password_confirmation') === true"
            >
                <input
                       class="multistep-form__input input w-100"
                       placeholder="Confirm password"
                       [class.input-error-style]="classError('password_confirmation') || resetPasswordFormErrors.password_confirmation.verify"
                       [class.input-success-style]="classSuccess('password_confirmation') && !resetPasswordFormErrors.password_confirmation.verify"
                       type="password"
                       value=""
                       formControlName="password_confirmation"
                >
            </div>
            <span class="error-span help-block error backend-error input-group-error">
                <form-errors
                        [control]="resetPasswordForm.controls.password_confirmation"
                        [controlName]="'password_confirmation'"
                ></form-errors>
                <span *ngIf="resetPasswordFormErrors.password_confirmation.verify">
                    {{resetPasswordFormErrors.password_confirmation.text}}
                </span>
                <span class="passwordsErrorText-box"
                      *ngIf="classError('password_confirmation')">
                    {{passwordsErrorText}}
                </span>
            </span>
            <div class="text-center">
                <div class="grad-btn grad-btn--fill">
                    <button class="grad-btn__btn" type="submit" (click)="changePassword()">Change password</button>
                    <span class="grad-btn__bg"></span>
                </div>
            </div>
        </form>
    </section>
</div>
</body>
