<!--<div class="conversation-block note-box full-width-left">-->
<!--    <div class="full-width-left">-->
<!--        <ul class="list-inline list-unstyled tickets-info pull-left profile-info">-->
<!--            <li *ngIf="note.author.avatar !== ''">-->
<!--                <img src="{{note.author.avatar_url}}" alt="user photo" class="img-circle">-->
<!--            </li>-->
<!--            <li *ngIf="note.author.avatar === ''">-->
<!--                <img src="../../../../../../public/images/user-default-img.png" alt="user photo" class="img-circle">-->
<!--            </li>-->
<!--            <li>-->
<!--                <p *ngIf="note.author.company_url === usersService.user.company_url && usersService.user.id === note.author.id;then content else other_content"></p>-->
<!--                <ng-template #content>-->
<!--                    You <span class="addNote-color">added a note</span>-->
<!--                </ng-template>-->
<!--                <ng-template #other_content>-->
<!--                    {{note.author?note.author.first_name + ' ' + note.author.last_name:note.from_name}} <span class="addNote-color">added a note</span>-->
<!--                </ng-template>-->
<!--            </li>-->
<!--        </ul>-->
<!--        <ng-container *ngIf="ticketTemporaryTimeline">-->
<!--            <span class="timelineButton" (click)="socketService.removeTemporaryTimeline(note.commentId,note.key,ind)">-->
<!--                Discard-->
<!--            </span>-->
<!--            <span class="timelineButton" (click)="socketService.editTemporaryTimeline(note.commentId,note.key,ind)">-->
<!--                Undo-->
<!--            </span>-->
<!--        </ng-container>-->
<!--        <span class="pull-right time-info-item ">{{(note.updated_at + timedate) | timePipe}}</span>-->
<!--    </div>-->
<!--    <div class="full-width-left text-content disable-text-selection">-->
<!--        <p openImage [innerHTML]="note.note | noSanitize" class="custom_body"></p>-->
<!--        <div class="comment-attachments" *ngIf="note.files && !ticketTemporaryTimeline">-->
<!--            <ul class="attachments-list">-->
<!--                <ng-container *ngFor="let file of note.files">-->
<!--                    <li *ngIf=" file.disposition === 'attachment'">-->
<!--                        <ng-container *ngIf="file.main_type !== 'images'">-->
<!--                            <a href="{{file.file_full_path}}" download="true">-->
<!--                                <i class="la la-paperclip">-->
<!--                                    {{file.file_name}}-->
<!--                                </i>-->
<!--                            </a>-->
<!--                        </ng-container>-->

<!--                        <ng-container *ngIf="file.main_type === 'images' &&  file.disposition === 'attachment'">-->
<!--                            <a (click)="cloud.effect = 'imgPopup';ticketService.selectedImagen = file.file_full_path;">-->
<!--                                <i class="la la-paperclip">-->
<!--                                    {{file.file_name}}-->
<!--                                </i>-->
<!--                            </a>-->
<!--                        </ng-container>-->
<!--                    </li>-->
<!--                </ng-container>-->
<!--            </ul>-->
<!--        </div>-->
<!--        <div class="comment-attachments" *ngIf="note.attachments && ticketTemporaryTimeline">-->
<!--            <ul class="attachments-list">-->
<!--                <ng-container *ngFor="let file of note.attachments">-->
<!--                    <li *ngIf=" file.disposition === 'attachment'">-->
<!--                        <ng-container *ngIf="file.type.search('image') === -1">-->
<!--                            <a href="{{file.file_full_path}}" download="true">-->
<!--                                <i class="la la-paperclip">-->
<!--                                    {{file.name}}-->
<!--                                </i>-->
<!--                            </a>-->
<!--                        </ng-container>-->

<!--                        <ng-container *ngIf="file.type.search('image') !== -1 &&  file.disposition === 'attachment'">-->
<!--                            <a (click)="cloud.effect = 'imgPopup';ticketService.selectedImagen = file.link;">-->
<!--                                <i class="la la-paperclip">-->
<!--                                    {{file.name}}-->
<!--                                </i>-->
<!--                            </a>-->
<!--                        </ng-container>-->
<!--                    </li>-->
<!--                </ng-container>-->
<!--            </ul>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="seen-part time-info-item" *ngIf="note.email_status && note.email_status === 'open'">-->
<!--        <i class="fa fa-eye"></i>-->
<!--        <span>Customer viewed {{note.event_time | timePipe}}</span>-->
<!--    </div>-->
<!--</div>-->
<!--<ng-container *ngIf="ticketTemporaryTimeline">-->
<!--            <span class="timelineButton" (click)="socketService.removeTemporaryTimeline(note.commentId,note.key,ind)">-->
<!--                Discard-->
<!--            </span>-->
<!--    <span class="timelineButton" (click)="socketService.editTemporaryTimeline(note.commentId,note.key,ind)">-->
<!--                Undo-->
<!--            </span>-->
<!--</ng-container>-->
<div class="message_reply-undo green" *ngIf="ticketTemporaryTimeline">
    Your reply has been sent. <a (click)="socketService.editTemporaryTimeline(note.commentId,note.key,ind)" class="message__link">Undo</a>
</div>

<section
        [class.individual-ticket-chain-message--agent]="!note.author"
        [class.individual-ticket-chain-message--customer]="note.author && note.author.role_id == 4"
        class="individual-ticket-chain-message individual-ticket-chain-message--added-note"
>

    <div class="individual-ticket-chain-message__header flex individual-ticket-chain-message--agent">
        <div class="individual-ticket-chain-message__avatar"
             *ngIf="note.author && note.author.avatar !== ''"
             [ngStyle]="{'background-image': 'url('+note.author['avatar_url'] +')'}"
        >
        </div>
        <div class="individual-ticket-chain-message__avatar" *ngIf="!note.author || note.author.avatar === ''"
             [ngStyle]="{'background-color': ticketService.ticket.color}">
            <span class="individual-ticket-chain-message__avatar-abbr"> {{ticketService.ticket.customer_name | circleLetters}}</span>
        </div>
        <div class="individual-ticket-chain-message__info">

            <div class="flex">
                <h2 class="individual-ticket-chain-message__author bold"
                    *ngIf="note.author &&
                     note.author.company_url === usersService.user.company_url
                     && usersService.user.id === note.author.id"
                >You</h2>
                <h2 class="individual-ticket-chain-message__author bold"
                    *ngIf="note.author && usersService.user.id !== note.author.id"
                >{{note.author?note.author.first_name + ' ' + note.author.last_name:note.from_name}}</h2>
                <h2 class="individual-ticket-chain-message__author bold"
                    *ngIf="!note.author"
                >{{note.from_name}}</h2>
                <span class="added-note bold">Added Note</span>

            </div>
            <div class="individual-ticket-chain-message__details">
                <span class="individual-ticket-chain-message__from bold" *ngIf="note.author && note.author.role_id == 2">Owner</span>
                <span class="individual-ticket-chain-message__from bold" *ngIf="note.author && note.author.role_id == 4">Agent</span>
                <span class="individual-ticket-chain-message__from bold" *ngIf="!note.author">Customer</span>
                <span class="individual-ticket-chain-message__date">{{(note.updated_at + timedate) | timePipe}}</span>
            </div>

        </div>

    </div>

    <div class="individual-ticket-chain-message__text"
       openImage
    >
        <p
                [innerHTML]="note.note | noSanitize"
        >

        </p>
        <div class="note-attachments" *ngIf="note.files  && note.files.length  && !ticketTemporaryTimeline">
            <ul class="attachments-list">
                <ng-container *ngFor="let file of note.files">
                    <li *ngIf=" file.disposition === 'attachment'">
                        <ng-container *ngIf="file.main_type !== 'images'">
                            <a href="{{file.file_full_path}}" download="true">
                                <i class="la la-paperclip">
                                    {{file.file_name}}
                                </i>
                            </a>
                        </ng-container>

                        <ng-container *ngIf="file.main_type === 'images' &&  file.disposition === 'attachment'">
                            <a (click)="cloud.effect = 'imgPopup';ticketService.selectedImagen = file.file_full_path;">
                                <i class="la la-paperclip">
                                    {{file.file_name}}
                                </i>
                            </a>
                        </ng-container>
                    </li>
                </ng-container>
            </ul>
        </div>
        <div class="note-attachments" *ngIf="note.attachments   && note.attachments.length  && ticketTemporaryTimeline">
            <ul class="attachments-list">
                <ng-container *ngFor="let file of note.attachments">
                    <li *ngIf=" file.disposition === 'attachment'">
                        <ng-container *ngIf="file.type.search('image') === -1">
                            <a href="{{file.file_full_path}}" download="true">
                                <i class="la la-paperclip">
                                    {{file.name}}
                                </i>
                            </a>
                        </ng-container>

                        <ng-container *ngIf="file.type.search('image') !== -1 &&  file.disposition === 'attachment'">
                            <a (click)="cloud.effect = 'imgPopup';ticketService.selectedImagen = file.link;">
                                <i class="la la-paperclip">
                                    {{file.name}}
                                </i>
                            </a>
                        </ng-container>
                    </li>
                </ng-container>
            </ul>
        </div>
    </div>


    <span class="individual-ticket-chain-message__viewed" *ngIf="note.email_status && note.email_status === 'open'">
       Customer viewed {{note.event_time | timePipe}}
    </span>
</section>
