<button class="back-reg-btn-canned" [routerLink]="['/settings/canned-replies-list']">
    <div class="individual-ticket-panel__btn back">
        <svg width="8" height="16" xmlns="http://www.w3.org/2000/svg">
            <path d="M7.845 15.836a.594.594 0 0 0 0-.8L1.262 8.009 7.845.965a.594.594 0 0 0 0-.8.505.505 0 0 0-.747 0L.155 7.595a.597.597 0 0 0 0 .8l6.943 7.428a.495.495 0 0 0 .747.013z" fill="currentColor" fill-rule="nonzero"></path></svg>
        <span>Back</span>
    </div>
</button>
<div class="settings-canned-replies">
    <h2 class="settings-canned-replies__header bold">Canned Replies</h2>

    <canned-reply-module>

    </canned-reply-module>
</div>
